$barWidth: 90px;
$barFz: 34px;
@mixin chartAni($chartFront, $chartBack, $perF, $perB) {
   .box_front {
      position: absolute;
      background: dodgerblue;
      width: $barWidth;
      height: 0;
      bottom: 10px;
      z-index: 2;
      left: 15px;
      transform: skewY(10deg);
      mix-blend-mode: multiply;
      opacity: 0.8;
      // animation: $chartFront 1.4s linear 0.3s 1 alternate forwards;
      &::before {
         content: $perF;
         position: absolute;
         top: -55px;
         font-size: $barFz;
         color: dodgerblue;
         font-weight: 600;
         left: 14px;
         letter-spacing: -2px;
      }
   }
   .box_front.active {
      animation: $chartFront 1.4s linear 0.3s 1 alternate forwards;
   }
   .box_back {
      position: absolute;
      background: #6dba00;
      width: $barWidth;
      height: 0;
      bottom: 42px;
      z-index: 1;
      left: 45px;
      transform: skewY(10deg);
      opacity: 0.5;
      // animation: $chartBack 3s linear 0.3s 1 alternate forwards;
      &::before {
         content: $perB;
         position: absolute;
         top: -55px;
         font-size: $barFz;
         color: #6dba00;
         font-weight: 600;
         left: 14px;
         letter-spacing: -2px;
      }
   }
   .box_back.active {
      animation: $chartBack 3s linear 0.3s 1 alternate forwards;
   }
   .box_bottom {
      position: absolute;
      background: #eee;
      width: 93px;
      height: 80px;
      bottom: 0;
      transform-origin: left bottom;
      transform: skew(-40deg, 10deg);
   }
}

@keyframes chartFront {
   from {
      height: 0;
   }
   to {
      height: 180px;
   }
}
@keyframes chartBack {
   from {
      height: 0;
   }
   to {
      height: 450px;
   }
}
@keyframes chartFrontR {
   from {
      height: 0;
   }
   to {
      height: 80px;
   }
}
@keyframes chartBackR {
   from {
      height: 0;
   }
   to {
      height: 300px;
   }
}

.box_wrap {
   width: 450px;
   height: 600px;
   display: flex;
   position: relative;
   margin: 0 auto;
}
.box_r {
   position: absolute;
   right: 0;
   bottom: 0;
   width: 158px;
   height: 100px;
   @include chartAni(chartFrontR, chartBackR, "12%", "64%");
}
.box_l {
   position: absolute;
   width: 158px;
   height: 100px;
   left: 0;
   bottom: 0;
   @include chartAni(chartFront, chartBack, "24%", "84%");
}

.arm_img {
   position: absolute;
   z-index: 3;
   left: 43%;
   transform: translate(-50%);
   bottom: -50px;
   background: center/contain url("../img/mechanical_arm.png") no-repeat;
   width: 400px;
   height: 400px;
}

.chart_desc_wrap {
   display: flex;
   justify-content: center;
   // width: 600px;
   height: inherit;
   margin-top: 50px;
   gap: 50px;
   .chart_desc {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   h2 {
      margin: 0;
      letter-spacing: -2px;
      font-size: 20px;
      font-weight: 600;
   }
   ul {
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;
      li {
         font-size: 14px;
         letter-spacing: -1px;
         margin: 0;
         padding-left: 20px;
         position: relative;
      }
      li:nth-child(1) {
         &:before {
            content: "\220E";
            color: #6dba00;
            position: absolute;
            left: 0;
            top: -5px;
            z-index: 2;
            font-size: 18px;
         }
      }
      li:nth-child(2) {
         &:before {
            content: "\220E";
            color: dodgerblue;
            position: absolute;
            left: 0;
            top: -5px;
            z-index: 2;
            font-size: 18px;
         }
      }
   }
}
.chart_gauge_wrap {
   margin-top: 50px;
}

@mixin gaugeBar($per) {
   .gauge {
      width: 0;
      height: 8px;
      background: rgb(30, 148, 255);
      background: linear-gradient(90deg, rgba(30, 148, 255, 1) 0%, rgba(30, 144, 255, 1) 25%, rgba(109, 186, 0, 1) 100%);
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative;
      margin-top: 45px;
      &::before {
         content: attr(data-label);
         position: absolute;
         top: -20px;
         font-size: 13px;
         letter-spacing: -1px;
         word-break: keep-all;
      }
      &::after {
         content: attr(data-per);
         position: absolute;
         right: -50px;
         top: 40%;
         transform: translateY(-50%);
         font-weight: 600;
         font-size: 24px;
         vertical-align: text-bottom;
         letter-spacing: -2px;
         opacity: 0;
         animation: opacityNum 1s linear 5s alternate forwards;
      }
   }
   .gauge.active {
      animation: $per 2s linear 1s 1 alternate forwards;
   }
}
@keyframes opacityNum {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
@keyframes gauge35 {
   from {
      width: 0;
   }
   to {
      width: 65%;
   }
}
@keyframes gauge16 {
   from {
      width: 0;
   }
   to {
      width: 36%;
   }
}
@keyframes gauge46 {
   from {
      width: 0;
   }
   to {
      width: 86%;
   }
}
.chart_gauge_wrap {
   max-width: 420px;
   margin: 0 auto;
   margin-top: 50px;
   .gauge_wrap:nth-child(1) {
      @include gaugeBar(gauge35);
   }
   .gauge_wrap:nth-child(2) {
      @include gaugeBar(gauge16);
   }
   .gauge_wrap:nth-child(3) {
      @include gaugeBar(gauge46);
   }
}
